.indent{
  margin-top: 5%;
}

.indent-btn-form{
  margin-top: 10px;
}

.appForm{
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}